.navbar{
  background: rgba(152, 218, 131, 0.7);
  display: flex;
  justify-content:space-between;
  align-items:center;
  padding: 0px 50px;
  height: 80px;
  
}
.ulnav{
  display: flex;
  gap:30px;
  list-style: none;
  
}
li a {
   text-decoration:none;
  color: rgb(0, 0, 0);
  font-weight: 500;
  transition: color 0.3s
}

body{
  
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items:center;
 gap: 20px;
}

.heroSection{
  background-image: url(healthy-cuisine-idee-recette.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 30px;

}
.heroSection button{
  background-color: rgb(13, 119, 64);
  color: white;
  font-size: 30px;
  border: none;
  border-radius: 30px;
  padding: 12px 24px;
}
html{
   scroll-behavior: smooth;
}
.heroSection h1, .heroSection p{
  font-family: 'Poppins';
  font-size: large;
  color: #033e12;
    
}
.card img {
  width: 100%;  
  width: 400px;        
  height: 200px;         
  border-radius: 12px;
  margin-top: 40px;
}
.containercard{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px;


}
#pageMenu{
  display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 0PX;
 min-height: 100vh;
 background-color: rgb(197, 220, 212);
 flex-direction: column;

}

 

 




